<div class="text-center">
    <h1 class="display-4 fw-bold">Bienvenue sur notre plateforme de covoiturage</h1>
    <p class="lead">Partagez vos trajets facilement et économisez ensemble.</p>

    <div class="mt-4">
        <a href="/register" class="btn btn-warning btn-lg me-3">Créer un compte</a>
        <a href="/login" class="btn btn-dark btn-lg">Se connecter</a>
    </div>
</div>